* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$bg-color: #212b42;
$main-color: #add7ff;
$caret-color: #962f7e;
$sub-color: #5c7da5;
$text-color: #91b4d5;
$error-color: #df4576;
$error-extra-color: #d996ac;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Roboto,
    Arial, sans-serif;
  color: black;
  background-color: $bg-color;
  color: $text-color;
}

.navbar {
  height: 75px;
  width: 100%;
  background-color: $main-color;
}

.main-container {
  margin: 5vw 10vw;
  display: flex;
  flex-direction: column;
}

.test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .wpm {
    font-size: 36px;
    text-align: center;
  }

  .charCount {
    font-size: 20px;
  }
  .timer {
    font-size: 90px;
    margin: 20px;
  }

  .input {
    height: 50px;
    width: 300px;
    font-size: 30px;
    text-align: center;
    color: $text-color;
    background-color: #455374;
    border-radius: 10px;
  }

  .text-box {
    text-align: center;
    padding: 40px;
    margin: 20px;
    border: 1px $main-color solid;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 1px 7px 7px $main-color;
    width: 1000px;
    height: 400px;
    overflow: scroll;
  }

  .start-btn {
    margin: 30px;
    padding: 20px;
    width: 300px;
    font-size: 30px;
    background-color: $sub-color;
    border-radius: 10px;
  }

  .disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
      background: transparent; /* Chrome/Safari/Webkit */
      width: 0px;
    }
  }
}

.db-btn {
  font-size: 20px;
  margin: 20px;
  padding: 15px;
}

.delete-history {
  opacity: 0.4;
}

.has-background-cursor {
  background-color: $caret-color;
}
